# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
.wrangler/tmp
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Export/Import files
*.json
!package.json
!package-lock.json
!pnpm-lock.yaml
!tailwind.config.js
!nuxt.config.ts

# Package Managers
pnpm-lock.yaml
bun.lock
yarn.lock

# App Folders
data/