# - Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_TELEMETRY=0
BETTER_AUTH_TELEMETRY_DEBUG=1
# Optional: Disable sign up
# BETTER_AUTH_DISABLE_SIGNUP=true
# BETTER_AUTH_URL=http://localhost:3000 #Base URL of your app

# - DB Type: sqlite|postgres
DB_TYPE=sqlite

# - SQLite
SQLITE_PATH=./data/auth/auth-dev.sqlite

# - Postgres
PGUSER=
PGPASSWORD=
PGHOST=localhost
PGPORT=5432
PGDATABASE=

# - SMTP Configuration
SMTP_HOST=
SMTP_PORT=465  # Usually 465 for SSL/TLS
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

# - Social Providers - Google
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

# - Social Providers - GitHub
GITHUB_CLIENT_ID=your-github-client-id
GITHUB_CLIENT_SECRET=your-github-client-secret

# - Application Settings
# NODE_ENV=development
NUXT_TELEMETRY_DISABLED=true

# - Docker Settings
DOCKER_DEFAULT_PLATFORM=linux/amd64
DOCKER_HUB_IMAGE=harianto/better-auth-nuxt
DOCKER_HUB_IMAGE_DEV=harianto/better-auth-nuxt-dev

# - GitHub
GITHUB_REPO_URL=https://ghp_XXXXXXXXX1XXXXXXXXX2XXXXXXXXX3XXXXXX@github.com/HariantoAtWork/jobfor-board-nuxt.git
